.label {
  display: block;

  &:hover {
    .field {
      border-color: cssvar(secondary);
    }
  }
}

.label_text {
  margin-bottom: 0.25rem;
  margin-left: 0.25rem
}

.field {
  border: 2px solid cssvar(input_border);
  padding: 0.75rem 1rem;
  color: cssvar(fg__primary);
  background-color: cssvar(bg__primary);
  width: 100%;
  outline: none;
  border-radius: 0.25rem;
  transition: all 0.25s ease;

  &:focus {
    border-color: cssvar(primary);
  }
}

.error_container {
  border-radius: 0.25rem;
  margin-top: 0.75rem;
  padding: 0.75rem;
  color: cssvar(fg__error);
  display: flex;
  align-items: center;
  background-color: cssvar(bg__secondary);

  :global {
    svg {
      flex-shrink: 0;
    }

    p {
      margin-left: 0.5rem
    }
  }
}