{
    "presets": ["babel-preset-gatsby"],
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["javascript", "css", "markup", "php"]
            }
        ]
    ]
}
