@import "color";

.card {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    @include theme() {
        box-shadow: 2px 2px 12px -6px rgba(theme(invert), 0.3);
    }
    position: relative;
    margin: 24px 0;
    border-radius: 4px;
    overflow: hidden;

    .image {
        width: 400px;
        max-width: 100%;
        flex: 0 0 auto;
    }

    .contents {
        padding: 16px;
        width: 100%;

        h4 {
            margin-bottom: 16px;
            @include theme() {
                color: theme(textPrimary);
            }
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                @include theme() {
                    background: linear-gradient(
                        to right,
                        theme(primary),
                        theme(secondary)
                    );
                }
                bottom: 0;
                left: 0;
                transition: width 0.35s;
            }
        }

        .description {
            padding: 8px 0;
        }
    }

    &:hover,
    &:active,
    &:focus {
        .contents {
            h4:after {
                width: 100%;
            }
        }
    }

    a:active,
    a:focus {
        & + .contents {
            h4:after {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 701px){
    .card {
        display: block;

        .image {
            width: 100%;
        }
    }
}