@import "color";

.card{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-shadow: 1px 1px 12px -4px rgba(0,0,0,.3);
    position: relative;

    .image{
        width: 400px;
        max-width: 100%;
    }

    .contents{
        padding: 16px;
    }
}
