@import "color";

footer {
    padding: 64px 0;
    padding-bottom: 32px;

    img {
        height: 44px;
        max-width: 90%;
    }

    ul {
        list-style: none;
        margin: 18px 0;

        li {
            display: inline-block;
            margin: 0 12px;
            text-transform: uppercase;

            a {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    @include theme() {
                        background: linear-gradient(
                            to right,
                            theme(primary),
                            theme(secondary)
                        );
                    }
                    bottom: 0;
                    left: 0;
                    transition: width 0.25s;
                }
            }

            a:active,
            a:focus,
            a:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

.cookie-box {
    position:fixed;
    width: 100%;
    z-index: 99999;
    bottom: 0;
    left: 0;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include theme(){
        background: theme(backgroundSecondary);
        color: theme(textPrimary)
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        @include theme() {
            background: linear-gradient(
                to right,
                theme(primary),
                theme(secondary)
            );
        }
    }

    .action-box {
        padding: 0 12px;
    }

    button {
        margin: 0 12px;
    }
}