@import "color";

footer{
    padding: 64px 0;
    padding-bottom: 32px;

    img{
        height: 44px;
        max-width: 90%;
    }

    ul{
        list-style: none;
        margin: 18px 0;

        li{
            display: inline-block;
            margin: 0 12px;
            text-transform: uppercase;

            a{
                position: relative;
        
                &:after{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 2px;
                    background: linear-gradient(to right, @primary, @secondary);
                    bottom: 0;
                    left: 0;
                    transition: width .25s;
                }
            }
        
            a:active, a:focus{
                &:after {
                    width: 100%;
                }
            }
        }
    }
}