.spaced {
  margin-bottom: 1.5rem;
}

.captcha-message {
  margin-top: 0.5rem;
}

.general-error {
  margin-bottom: 0.5rem;
}

.success-message {
  border-radius: 0.25rem;
  margin: 0.75rem 0;
  padding: 0.75rem;
  color: cssvar(fg__success);
  display: flex;
  align-items: center;
  background-color: cssvar(bg__secondary);
  border: 1px solid cssvar(fg__success);

  :global {
    svg {
      flex-shrink: 0;
    }

    p {
      margin-left: 0.5rem;
    }
  }
}
