@import "color";

nav {
    text-align: center;
    padding: 32px 0;

    ul {
        list-style: none;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 16px;
            min-width: 7em;

            img {
                height: 40px;
                transition: transform 0.35s;
            }

            a {
                padding: 4px 12px;
                font-weight: 900;
                position: relative;
                z-index: 1;
                letter-spacing: 2px;
                text-transform: uppercase;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 5px;
                    bottom: 4px;
                    z-index: 1;
                    transition: width 0.25s;
                }

                &:before {
                    bottom: 0px;
                    right: -4px;
                    @include theme() {
                        background: theme(secondary);
                    }
                }

                &:after {
                    left: 0;
                    @include theme() {
                        background: theme(primary);
                    }
                }

                &:hover:before,
                &.active:before,
                &.active:after,
                &:hover:after {
                    width: 100%;
                }

                &:active:after,
                &:focus:after {
                    width: 100%;
                }

                &:active,
                &:focus {
                    img {
                        transform: rotateY(180deg);
                    }
                }
            }

            &.has-image a {
                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }
}
