@import "color";

nav {
    text-align: center;
    padding: 32px 0;

    ul {
        list-style: none;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 16px;
            min-width: 7em;

            img {
                height: 40px;
                transition: transform 0.35s;
            }

            a {
                padding: 4px 12px;
                font-weight: 900;
                position: relative;
                z-index: 1;
                letter-spacing: 2px;
                text-transform: uppercase;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 5px;
                    bottom: 4px;
                    z-index: 1;
                    transition: width 0.25s;
                }

                &:before {
                    bottom: 0px;
                    right: -4px;
                    @include theme() {
                        background: theme(secondary);
                    }
                }

                &:after {
                    left: 0;
                    @include theme() {
                        background: theme(primary);
                    }
                }

                &:hover:before,
                &.active:before,
                &.active:after,
                &:hover:after,
                &.active:after,
                &.active:before {
                    width: 100%;
                }

                &:active:after,
                &:focus:after,
                &.active:after,
                &.active:before {
                    width: 100%;
                }

                &:active,
                &:focus {
                    img {
                        transform: rotateY(180deg);
                    }
                }
            }

            &.has-image a {
                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }

    .mobile-nav {
        display: none;
    }
}


@media only screen and (max-width: 701px) {

    .header {
        padding: 56px;
    }

    nav {
        position: fixed;
        z-index: 98;
        width: 100%;
        left: 0;
        top: 0;
        transition: padding .25s;
        @include theme(){
            background: theme(background);
        }

        &:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: 0;
            left: 0;
            transition: width .25s;

            @include theme(){
                background: linear-gradient(to right, theme(primary), theme(secondary));
            }
        }

        .main-nav{
            display: none;
        }

        .mobile-nav{
            display: block;
        }

        .menu-button {
            position: absolute;
            left: 24px;
            top: 50%;
            transform: translate(0, -50%);
            min-width: auto;

            .hamburger {
                $size: 36px;

                border: 0;
                background: transparent;
                width: $size;
                height: $size;
                

                div {
                    width: 100%;
                    height: ($size/5);
                    background: red;
                    margin-top: ($size/5);
                    border-radius: 12px;
                    @include theme(){
                        background: linear-gradient(to right,theme(primary), theme(secondary));
                    }

                    &:first-child {
                        margin-top: 0;
                    }

                    &:nth-child(2){
                        width: 85%;
                    }
                    &:nth-child(3){
                        width: 60%;
                    }
                }
            }
        }

        ul {
            li {
                img {
                    height: 52px;
                }
            }
        }

        &.scrolled {
            padding: 16px 0;

            &:after {
                width: 100%;
            }
        }
    }
}

.sidebar-content {
    width: 75%;
    z-index: 99;
    text-align: center;

    .sidebar-contents {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    a {
        padding: 4px 12px;
        font-weight: 900;
        position: relative;
        z-index: 1;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 0%;
            height: 5px;
            bottom: 4px;
            z-index: 1;
            transition: width 0.25s;
        }

        &:before {
            bottom: 0px;
            right: -4px;
            @include theme() {
                background: theme(secondary);
            }
        }

        &:after {
            left: 0;
            @include theme() {
                background: theme(primary);
            }
        }

        &:hover:before,
        &.active:before,
        &.active:after,
        &:hover:after,
        &.active:after,
        &.active:before {
            width: 100%;
        }

        &:active:after,
        &:focus:after,
        &.active:after,
        &.active:before {
            width: 100%;
        }
    }

    @include theme(){
        background: theme(background);
    }

    .logo {
        display: block;
        padding: 18px 0;

        .logo-container {
            display: inline-block;
            height: 48px;
        }

        img {
            height: 100%;
        }
    }

    .links {
        list-style: none;
        padding: 24px 0;

        li {
            margin: 12px 0;
            font-size: 20px;
        }
    }

    .social-profiles {
        li {
            width: 32px;
            margin: 12px;
        }
    }
}