@import "color";

.meta{
    text-align: center;

    p{
        margin: 12px;
        display: inline-block;
    }

    .date {
        span {
            margin-right: 6px;
        }
    }
}

.page{
    padding: 64px 0;

    p{
        margin: 12px auto;
        width: 85%;
    }

    h2{
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    h2, h3, h4, h5, h6 {
        width: 85%;
        margin: 24px auto;
        color: @textPrimary;
    }

    pre {
        width: 90%;
        margin: 24px auto;
        overflow: auto;
    }

    hr {
        width: 80%;
        margin: 24px auto;
        border: 1px solid @secondary;
    }

    img {
        max-width: 100%;
    }

    li {
        margin-left: 14px;
    }
}