@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}

.nav-item {
    min-width: 8rem;
}

.nav-item a {
    @apply relative px-3;
}

.nav-item a::after,
.nav-item a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    @apply bg-primary;
}

.nav-item a::after {
    left: auto;
    right: 0;
    margin-bottom: -4px;
    @apply bg-secondary;
}

.nav-item.has-image a::before,
.nav-item.has-image a::after {
    display: none;
}

.nav-item.nav-item.has-image a:focus {
    outline: 0;
}

.nav-item a:hover img,
.nav-item a:focus img {
    filter: brightness(0.7) sepia(0.5) saturate(8) hue-rotate(277deg);
}

.nav-item a:hover::after,
.nav-item a:hover::before,
.nav-item a:focus::after,
.nav-item a:focus::before,
.nav-item.active a::after,
.nav-item.active a::before {
    width: 95%;
}

.wall .sep {
    width: 8px;
    height: 24px;
    margin: 0 8px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.wall .sep::after,
.wall .sep::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: -2px;
    @apply bg-primary;
    border-radius: 24px;
}

.wall .sep::after {
    top: auto;
    bottom: -2px;
    left: auto;
    right: 0;
    @apply bg-secondary;
}

.theme-light .logo-light {
    display: none;
}

.theme-dark .logo-dark {
    display: none;
}

.title::after,
.title::before {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 0.8rem;
    @apply bg-primary;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-right: -1rem;
    margin-bottom: 0.4rem;
}

.title::before {
    @apply bg-secondary;
    margin-bottom: -0.4rem;
    width: 50%;
    max-width: 200px;
    transform: none;
    transform: translate(4px, 0);
}

.title span {
    position: relative;
    z-index: 3;
}

.shelf-item:nth-child(odd) {
    @apply pr-14;
}

.shelf-item:nth-child(even) {
    @apply pl-14 mt-28;
}

.shelf-item:nth-child(even) .connector {
    left: 0;
}

.shelf-item .connector::after,
.shelf-item .connector::before {
    content: "";
    background: #efebe9;
    @apply absolute w-6 h-6 rounded-full bottom-0;
}

.shelf-item .connector::after {
    @apply -top-6 -right-3;
}

.shelf-item:nth-child(even) .connector::before {
    @apply right-0;
}

.shelf-item:nth-child(even) .connector::after {
    @apply right-auto -left-3;
}

.shelf-item:nth-child(even) .date {
    right: auto;
    left: 0;
    transform: translate(-50%, 0);
}

.shelf-item .date {
    transform: translate(50%, 0);
}

.connector .line {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Ccircle cx='10' cy='5' fill='%23efebe9' r='5'/%3E%3C/svg%3E");
    background-repeat: space;
}

.shelf-item .content .title::before,
.shelf-item .content .title::after {
    height: 0.4rem;
    transition: width 0.25s;
}

.shelf-item .content .title {
    transform: translate(0, -3rem);
    opacity: 0.3;
    transition: transform 0.25s, opacity 0.25s;
}

.shelf-item .content p {
    transform: translate(0, 3rem);
    opacity: 0.3;
    transition: transform 0.25s, opacity 0.25s;
}

.shelf-item .content .title::after {
    margin-bottom: 0.1rem;
    width: 0%;
}

.shelf-item .content .title::before {
    margin-bottom: -0.2rem;
    width: 0%;
}

.shelf-item a:hover .content .title,
.shelf-item a:focus .content .title,
.shelf-item a:hover .content p,
.shelf-item a:focus .content p {
    transform: translate(0, 0);
    opacity: 1;
}

.shelf-item a:focus .content {
    opacity: 1;
}

.shelf-item a:hover .content .title::after,
.shelf-item a:focus .content .title::after {
    width: 100%;
}

.shelf-item a:hover .content .title::before,
.shelf-item a:focus .content .title::before {
    width: 50%;
}

.text-input input:focus + span,
.text-input textarea:focus + span {
    opacity: 1;
}

.single-page > * {
    max-width: 100%;
}

.single-page p {
    margin: 1rem auto;
    width: 85%;
}

.single-page h1 {
    font-size: 3rem;
}

.single-page h2 {
    font-size: 2.3rem;
}

.single-page h3 {
    font-size: 1.9rem;
}

.single-page h4 {
    font-size: 1.5rem;
}

.single-page h5 {
    font-size: 1.3rem;
}

.single-page h6 {
    font-size: 1.1rem;
}

.single-page h1,
.single-page h2,
.single-page h3,
.single-page h4,
.single-page h5,
.single-page h6 {
    font-weight: bold;
    margin: 2rem auto;
    width: 85%;
}

.single-page ul {
    width: 85%;
    margin: 1rem auto;
}

.single-page ul li {
    margin: 1rem 0;
}

.single-page pre {
    width: 90%;
    margin: 2rem auto !important;
}

.single-page blockquote {
    width: 85%;
    margin: 1rem auto;
}

.single-page a,
.link {
    @apply text-fg-link;
    position: relative;
}

.single-page a::before,
.link::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    transition: width 0.3s;
    bottom: 0;
    left: 0;
    @apply bg-primary;
}

.single-page a:focus::before,
.link:focus::before {
    @apply bg-secondary;
}

.single-page a:hover::before,
.link:hover::before,
.single-page a:focus::before,
.link:focus::before,
.single-page a:active::before,
.link:active::before {
    width: 100%;
}
