//fontSizes: [12, 14, 16, 20, 24, 32, 48, 64, 72],
// space: [0, 4, 8, 16, 32, 64, 128, 256, 512],

@import "color";
@import "grid";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: @textDefault;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

a {
    text-decoration: none;
    outline: 0;
}

.container {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
}

.section {
    padding: 64px 8px;
}

.section .contents {
    padding-top: 32px;
}

.text-m {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.overlay-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}

.boxed {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input-field {
    margin: 32px auto;

    label {
        p {
            padding-left: 12px;
            margin-bottom: 4px;
            display: inline-block;
        }
    }

    .field {
        width: 100%;
        position: relative;
        padding: 2px;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to right, @primary, @secondary);
            border-radius: 8px;
        }

        .input {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            border: 0;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            position: relative;
            z-index: 2;
            background: @background;
            outline: 0;
            border: 1px solid transparent;
            display: block;

            &:focus {
                border: 1px solid @primary;
            }
        }
    }
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background: @background;
    border: 2px solid @primary;
    border-radius: 8px;
    transition: border-color 0.35s;
    cursor: pointer;
    outline: 0;

    &:hover,
    &:focus,
    &:active {
        border-color: @secondary;
    }
}

.social-profiles{

    ul {
        list-style: none;
        text-align: center;

        li{
            display: inline-block;
            vertical-align: middle;
            width: 150px;
            position: relative;
            margin: 0 32px;

            svg{
                width: 100%;
            }
        }
    }
}

.color-primary,
.color-primary a {
    color: @textPrimary;
}

.title {
    padding: 32px 0;
    text-align: center;

    .h {
        display: inline-block;
        position: relative;

        span {
            position: relative;
            z-index: 3;
        }

        &:before {
            content: "";
            position: absolute;
            width: 50%;
            height: 15px;
            background: @secondary;
            bottom: 10px;
            right: -10px;
            z-index: 1;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 15px;
            background: @primary;
            bottom: 20px;
            left: 5px;
            z-index: 2;
        }
    }
}

.svg-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
}

.fill-primary path {
    fill: @primary;
}

.fill-text-primary path {
    fill: @textPrimary;
}

.fill-secondary path {
    fill: @secondary;
}

.bg-secondary{
    background: @backgroundSecondary;
}

.error {
    color: @error;
}

.success {
    color: @success;
}