//fontSizes: [12, 14, 16, 20, 24, 32, 48, 64, 72],
// space: [0, 4, 8, 16, 32, 64, 128, 256, 512],

@import "color";
@import "grid";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#main {
    @include theme() {
        color: theme(textDefault);
        background: theme(background);
    }
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

a {
    text-decoration: none;
    outline: 0;
    color: #2196f3;
}

.container {
    width: 80%;
    max-width: 1240px;
    margin: 0 auto;
}

.section {
    padding: 64px 8px;
}

.section .contents {
    padding-top: 32px;
}

.text-m {
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.overlay-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
}

.boxed {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    display: inline-block;

    img {
        display: none;
    }

    img.dark {
        display: inline-block;
    }
}

.theme-dark {
    .logo-container {
        img{
            display: none;
        }
        img.light {
            display: inline-block;
        }
    }
}

.input-field {
    margin: 32px auto;

    label {
        p {
            padding-left: 12px;
            margin-bottom: 4px;
            display: inline-block;
        }
    }

    .field {
        width: 100%;
        position: relative;
        padding: 2px;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            @include theme() {
                background: linear-gradient(
                    to right,
                    theme(primary),
                    theme(secondary)
                );
            }
            border-radius: 8px;
        }

        .input {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            border: 0;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            position: relative;
            z-index: 2;
            @include theme() {
                background: theme(background);
                color: theme(textDefault);
            }
            outline: 0;
            border: 1px solid transparent;
            display: block;

            &:focus {
                @include theme() {
                    border: 1px solid theme(primary);
                }
            }
        }
    }
}

.page-content {
    margin-top: 64px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    @include theme() {
        background: theme(background);
        color: theme(textDefault);
        border: 2px solid theme(primary);
    }
    border-radius: 8px;
    transition: border-color 0.35s;
    cursor: pointer;
    outline: 0;

    &:hover,
    &:focus,
    &:active {
        @include theme() {
            border-color: theme(secondary);
        }
    }
}

.checkbox {
    .icon {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        @include theme() {
            border: 2px solid theme(textDefault);
        }
        border-radius: 4px;
        vertical-align: middle;
        transition: transform 0.35s;

        &:after {
            position: absolute;
            content: "\2713";
            font-weight: bold;
            line-height: 20px;
            left: 50%;
            transform: translate(-50%, 0) scale(0);
            transition: transform 0.35s;
            @include theme() {
                color: theme(textDefault);
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    input {
        opacity: 0;
        position: absolute;

        &:checked + .icon {
            &:after {
                transform: translate(-50%, 0) scale(1);
            }
        }
    }
}

table {
    width: 100%;

    thead,
    tbody {
        text-align: left;
    }
}

.social-profiles {
    margin-top: 128px;

    ul {
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            vertical-align: middle;
            width: 150px;
            height: 150px;
            position: relative;
            margin: 18px;

            svg {
                width: 100%;
                height: 100%;
                transition: transform 0.25s;
            }

            a:active,
            a:focus,
            a:hover {
                & + svg {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.color-primary,
.color-primary a {
    @include theme() {
        color: theme(textPrimary);
    }
}

.title {
    padding: 32px 0;
    text-align: center;

    .h {
        display: inline-block;
        position: relative;

        span {
            position: relative;
            z-index: 3;
        }

        &:before {
            content: "";
            position: absolute;
            width: 50%;
            height: .2em;
            @include theme() {
                background: theme(secondary);
            }
            bottom: 0.1em;
            right: -0.1em;
            z-index: 1;
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: .25em;
            @include theme() {
                background: theme(primary);
            }
            bottom: 0.2em;
            left: 5px;
            z-index: 2;
        }
    }
}

.svg-icon {
    display: inline-block;
    vertical-align: bottom;
    width: 24px;
    height: 24px;
}

.fill-primary path {
    @include theme() {
        fill: theme(primary);
    }
}

.fill-text-primary path {
    @include theme() {
        fill: theme(textPrimary);
    }
}

.fill-secondary path {
    @include theme() {
        fill: theme(secondary);
    }
}

.bg-secondary {
    @include theme() {
        background: theme(backgroundSecondary);
    }
}

.error {
    @include theme() {
        color: theme(error);
    }
    animation: hide 5s forwards;
}

.success {
    @include theme() {
        color: theme(success);
    }
}


.disabled, .btn:disabled {
    opacity: 0.6;
}

.grecaptcha-badge { 
    visibility: hidden;
}

.pagination {
    margin-top: 24px;
    text-align: center;
    list-style: none;

    li {
        display: inline-block;
        margin: 0 12px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            text-align: center;
            @include theme(){
                border: 2px solid theme(primary);
                color: theme(textPrimary);
            }

            &:hover, &:active, &:focus {
                transform: scale(1.1);
            }
        }
        

        &.active a {
            @include theme(){
                border: 3px solid theme(secondary);
            }
        }
    }
}

@media only screen and (max-width: 1290px){
    h1 {
        font-size: 64px;
    }
    
    h2 {
        font-size: 48px;
    }
    
    h3 {
        font-size: 32px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 18px;
    }

    .container {
        width: 90%;
    }

    .boxed {
        width: 95%;
    }

    nav ul li {
        min-width: auto;
    }

    .social-profiles ul li {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (max-width: 701px){
    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 38px;
    }
    
    h3 {
        font-size: 28px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    .section {
        padding: 32px 8px;
    }

    .boxed {
        width: 100%;
    }
    .container {
        width: 95%;
    }

    .social-profiles{
        margin-top: 48px;

        ul{
            li {
                width: 64px;
                height: 64px;
            }
        }
    }
}
