*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

//fontSizes: [12, 14, 16, 20, 24, 32, 48, 64, 72],
// space: [0, 4, 8, 16, 32, 64, 128, 256, 512],

h1{
    font-size: 72px;
}

h2{
    font-size: 64px;
}

h3{
    font-size: 48px;
}

h4{
    font-size: 32px;
}

h5{
    font-size: 24px;
}

h6{
    font-size: 20px;
}