@import "color";

.wall {
    width: 90%;
    max-width: 1920px;
    margin: 16px auto;
    height: 512px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    overflow: hidden;

    .intro {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        position: relative;
        z-index: 2;

        span {
            display: inline-block;
            margin: 0 8px;
            position: relative;

            &:nth-child(even):before,
            &:nth-child(even):after {
                content: "";
                position: absolute;
                width: 4px;
                height: 100%;
                border-radius: 4px;
                @include theme() {
                    background: theme(secondary);
                }
                left: -8px;
                z-index: 2;
            }

            &:nth-child(even):after {
                left: -10px;
                top: 2px;
                @include theme() {
                    background: theme(primary);
                }
                z-index: 1;
            }
        }
    }

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: #fec7c9;

        .layer {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center center;
            background-size: 100% auto;
            background-repeat: no-repeat;
        }
    }
}
