---
import clsx from "clsx";

export interface Props extends astroHTML.JSX.HTMLAttributes {}

const { class: className, ...props } = Astro.props;
---

<div {...props} class={clsx("container", className)}>
  <slot />
</div>
<style lang="scss">
  @use "sass:math";

  .container {
    width: math.div(11%, 12) * 100;
    max-width: 1024px;
    margin: 0 auto;
  }
</style>
