---
import Title from "./Title.astro";
---

<div class="section-title">
  <Title>
    <slot />
  </Title>
</div>
<style lang="scss">
  .section-title {
    text-align: center;
    margin: 1.5rem 0;
  }
</style>
