.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
  margin: 0 1rem;
  display: block;
  border: 2px solid transparent;

  &:focus {
    border-color: cssvar(primary);
  }
}